pip
setuptools
wheel


matplotlib
einops
timm
tensorboard
tqdm
requests
distance
metric
streamlit==1.35.0
torch==2.2.2
torchvision==0.17.2
opencv-python-headless==4.9.0.80
pillow
numpy
munch
pyyaml
reportlab
python-docx